* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 25%;
  gap: 20px;
  border: 1px solid black;
  padding: 25px;
}

.card {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  width: max-content;
  box-shadow: 2px 2px black;
}

button {
  padding: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px black;
}

dialog + button {
  margin-left: 25%;
}

dialog button {
  margin: auto;
}

button:hover {
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

dialog {
  margin: 20px auto;
  padding: 20px;
}

fieldset {
  padding: 20px;
  margin: 20px;
}

.labelInput {
  margin-bottom: 15px;
}

.labelInput:last-child {
  margin-bottom: 0px;
}

input {
  border: 1px solid black;
}

.btns {
  display: flex;
}